<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="src/styles.css">

    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/env.js"></script>
    <script src="src/app.js"></script>

    <meta charset=utf-8/>
    <title>Avro4s [Avro for Scala] UI</title>
</head>

<body ng-app="avro4sUIApp" ng-controller="MainCtrl">
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Avro Scala generator</h4>
            </div>
        </div>
    </div>
</header>
<section class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> &nbsp; </div>
            <div class="col-md-6 text-right"></div>
        </div>
    </div>
</section>

<span us-spinner="{radius:30, width:8, length: 16}" ng-show="showSpinner"></span>
<div class="articles-content">
    <div class="container">

        <h3>Generate Scala from Avro and Avro from JSon</h3>
        <!--Generator code-->
        <div class="row" style="margin-top:25px;">
            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" ng-click="loadAvroExample();" class="btn btn-default" autofocus="autofocus">
                        Avro
                    </button>
                    <button type="button" ng-click="loadJsonExample();" class="btn btn-default">JSon</button>
                </div>
                <button class="btn btn-primary btn-md"
                        ng-click="avro4sConversion(avroSource);"
                        ng-show="isEditorAvro"
                        style="float:right;">Generate Scala
                </button>
                <button class="btn btn-success btn-md"
                        ng-click="avro4sConversion(jsonSource);"
                        ng-show="isEditorJSon"
                        style="float:right;">Generate Avro
                </button>
                <button class="btn btn-success btn-md"
                        ng-click="avro4sConversion(scalaSource);"
                        ng-show="isEditorScala"
                        style="float:right;">Generate Avro
                </button>
                <div ng-show="isEditorAvro">
                    <div id="editorAvro"
                         ng-model="avroSource"
                         style="margin-top:10px;"
                         autofocus="autofocus"
                         ui-ace="{
                                useWrapMode : false,
                                showGutter: true,
                                theme:'chrome',
                                mode: 'json',
                                firstLineNumber: 1,
                                onLoad: aceLoaded,
                                onChange: aceChanged
                                }"></div>
                </div>
                <div ng-show="isEditorJSon">
                    <div id="editorJSon"
                         ng-model="jsonSource"
                         style="margin-top:10px;"
                         class="ace_focus"
                         ui-ace="{
                                useWrapMode : false,
                                showGutter: true,
                                theme:'chrome',
                                mode: 'json',
                                firstLineNumber: 1,
                                onLoad: aceLoaded,
                                onChange: aceChanged
                                }"></div>
                </div>
                <div id="editorScala"
                     ng-show="isEditorScala"
                     ng-model="scalaSource"
                     style="margin-top:10px;"
                     ui-ace="{
                                useWrapMode : false,
                                showGutter: true,
                                theme:'chrome',
                                mode: 'scala',
                                firstLineNumber: 1,
                                onLoad: aceLoaded,
                                onChange: aceChanged
                                }"></div>
            </div>
            <div class="col-md-6">
                <div ng-show="isAvroResultDisplayed">
                    <h4 style="margin-bottom:15px;">Avro result</h4>
                    <div id="avroResult"
                         ng-show="isAvroResultDisplayed"
                         ng-model="avroResult"
                         style="margin-top:10px;"
                         ui-ace="{
                                useWrapMode : false,
                                showGutter: true,
                                theme:'chrome',
                                mode: 'json',
                                firstLineNumber: 1,
                                onLoad: aceLoaded,
                                onChange: aceChanged
                                }"></div>
                </div>
                <div ng-show="isScalaResultDisplayed">
                    <h4 style="margin-bottom:15px;">Scala result</h4>
                    <div id="scalaResult"
                         ng-show="isScalaResultDisplayed"
                         ng-model="scalaResult"
                         style="margin-top:10px;"
                         ui-ace="{
                                useWrapMode : false,
                                showGutter: true,
                                theme:'chrome',
                                mode: 'scala',
                                firstLineNumber: 1,
                                onLoad: aceLoaded,
                                onChange: aceChanged
                                }"></div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--End Generator code-->

    </div>
</div>

<!--CUSTOM-FOOTER-->
</body>
</html>
